{% load static %}

    <div id="root"></div>
    <script type="text/babel">
        {% include 'learntest.html' %}

        const PoetryQuestions = [
           {task: "Няне", answers: ["Александр Пушкин"]},
           {task: "Зимнее утро", answers: ["Александр Пушкин"]},
           {task: "Зимний вечер", answers: ["Александр Пушкин"]},
           {task: "Лягушка-путешественница", answers: ["Всеволод Гаршин"]},
           {task: "Федина задача", answers: ["Николай Носов"]},
           {task: "Конёк-горбунок", answers: ["Пётр Ершов"]},
           {task: "Винни-Пух", answers: ["Алан Милн"]},
           {task: "Землянично-розовый дом", answers: ["Джеральд Даррелл"]},
           {task: "Ворона и лисица", answers: ["Иван Крылов"]},
           {task: "Лисица и виноград", answers: ["Иван Крылов"]},
           {task: "Аленький цветочек", answers: ["Сергей Аксаков"]},
           {task: "Он живой и светится", answers: ["Виктор Драгунский"]},
           {task: "Серая Шейка", answers: ["Дмитрий Мамин-Сибиряк"]},
           {task: "Алиса в Стране чудес", answers: ["Льюис Кэрролл"]},
           {task: "Чудесное путешествие Нильса с дикими гусями", answers: ["Сельма Лагерлёф"]},
           {task: "Пеппи Длинный чулок", answers: ["Астрид Линдгрен"]},
           {task: "Растрепанный воробей", answers: ["Константин Паустовский"]},
           {task: "Стойкий оловянный солдатик", answers: ["Ханс Андерсен"]},
           {task: "Кот в сапогах", answers: ["Шарль Перро"]}
        ];

        // ========================================

        ReactDOM.render(<Game Questions={PoetryQuestions} />, document.getElementById("root"));

    </script>

