{% load static %}

<div id="main-work" align="center">
  <ol class="breadcrumb">
    <li>
        <div><b>Шаг 1</b> (выполняется при инициализации либо при смене токена бота).<br>
        Введите токен вашего бота. Нажмите кнопку "Авторизовать бота".<br>
        Токен нам нужен для того, чтобы от имени бота писать сообщения в канал.<br>
        В ответ вам будет показана случайная строка, которую надо послать боту.<br>
        Как только вы это сделаете, мы будем знать, кому посылать уведомления об обновлениях.</div>

        <div id="tg-bot">
            <input id="tg-bot-token"></input>
            <input type="button" onclick=setBotToken() value="Авторизовать бота"></input>
            <div id="tg-bot-random"></div>
        </div>
    </li>
  </ol>

  <ol class="breadcrumb">
    <li>
      <div><b>Шаг 2</b>.<br>
        Заполните список каналов для кросспостинга из FB.<br>
        По завершении нажмите "Сохранить".<br>
        Если вы хотите восстановить список, который в данный момент находится на сервере, нажмите "Восстановить".
      </div>
      <div id="tg-channels"></div>
      <div id="tg-channels-status"></div>
    </li>
  </ol>
</div>

