{% load static %}

    <div id="root"></div>
    <script type="text/babel">
        {% include 'learntest.html' %}

        const GeoQuestions = [
            { task: "Казахстан", answers: ["Астана", "Алма-Ата"] },
            { task: "Северная Корея (КНДР)", answers: ["Пхеньян", "Улан-Батор"] },
            { task: "Белоруссия", answers: ["Минск", "Киев"] },
            { task: "Китай", answers: ["Пекин", "Ханой"] },
            { task: "Монголия", answers: ["Улан-Батор", "Вашингтон"] },
            { task: "Азербайджан", answers: ["Баку", "Ереван"] },
            { task: "Грузия", answers: ["Тбилиси", "Баку"] },
            { task: "Украина", answers: ["Киев", "Варшава"] },
            { task: "Польша", answers: ["Варшава", "Ереван"] },
            { task: "Литва", answers: ["Вильнюс", "Рига", "Таллин"] },
            { task: "Латвия", answers: ["Рига", "Вильнюс", "Таллин"] },
            { task: "Эстония", answers: ["Таллин", "Рига", "Вильнюс"] },
            { task: "Финляндия", answers: ["Хельсинки", "Осло"] },
            { task: "Норвегия", answers: ["Осло", "Хельсинки"] },
            { task: "США", answers: ["Вашингтон", "Париж"] },
            { task: "Япония", answers: ["Токио", "Пекин"] },
        ];

        // ========================================

        ReactDOM.render(<Game Questions={GeoQuestions} />, document.getElementById("root"));

    </script>

