{% load static %}

    <div id="root"></div>
    <script type="text/babel">
        {% include 'learntest.html' %}

        const PoetryQuestions = [
           {task: (<div>Гномы<br />На лугу большие кучи<br />Свежевырытой земли.</div>), answers: ["Константин Бальмонт"]},
           {task: (<div>ВЕСЕННИЙ ДОЖДЬ<br />Еще светло перед окном,<br />В разрывы облак солнце блещет,<br />И воробей своим крылом,<br />В песке купаяся, трепещет.</div>), answers: ["Афанасий Фет"]},
           {task: (<div>Бушует полая вода,<br />Шумит и глухо, и протяжно.</div>), answers: ["Иван Бунин"]},
           {task: (<div>Ландыш<br />Чернеет лес, теплом разбуженный,<br />Весенней сыростью объят.</div>), answers: ["Самуил Маршак"]},
           {task: (<div>Чудная картина,<br />Как ты мне родна:<br />Белая равнина,<br />Полная луна</div>), answers: ["Афанасий Фет"]},
           {task: (<div>Вот север, тучи нагоняя,<br />Дохнул, завыл — и вот сама<br />Идет красавица зима.</div>), answers: ["Александр Пушкин"]},
           {task: (<div>ЗИМНЕЕ УТРО<br />Мороз и солнце; день чудесный!<br />Еще ты дремлешь, друг прелестный</div>), answers: ["Александр Пушкин"]},
           {task: (<div>НЯНЕ<br />Подруга дней моих суровых,<br />Голубка дряхлая моя!</div>), answers: ["Александр Пушкин"]},
           {task: (<div>ЗИМНИЙ ВЕЧЕР<br />Буря мглою небо кроет,<br />Вихри снежные крутя;<br />То, как зверь, она завоет,<br />То заплачет, как дитя,</div>), answers: ["Александр Пушкин"]},
           {task: (<div>На севере диком стоит одиноко<br />На голой вершине сосна</div>), answers: ["Михаил Лермонтов"]},
           {task: (<div>Парус<br />Белеет парус одинокой<br />В тумане моря голубом.</div>), answers: ["Михаил Лермонтов"]}
        ];

        // ========================================

        ReactDOM.render(<Game Questions={PoetryQuestions} />, document.getElementById("root"));

    </script>

